<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
        <div id="total">
            <h1></h1>
        <div id="sidebar">
            
            <div class ='conteudo'>
                <img src="/images/livro.png" id="livroHome" alt="Foto do livro">
                <img src="/images/mais.svg" alt="Mais" class="btnSide">
                <img src="/images/sino.svg" alt="" class="btnSide">
                <img src="/images/config.svg" alt="" class="btnSide">
            </div>

        </div>

    </div>
    <div id="linhaDest"></div>
    
    <div class="kanban">
        
        <div class="coluna" id="baixa">
                
            <div class="cabecaCol">
                    <h2>Baixa</h2>
            </div>

            <div class="corpoCol">
                
                <%for(baix of baixa){%>
                    <p><%=baix.nome_task%></p>
                    <%}%>
                    
            </div>
        </div>
        
        
        <div class="coluna" id="media">
            <div class="cabecaCol">
                <h2>Média</h2>
            </div>

            <div class="corpoCol">
               <%for(medi of media){%>
                    <p><%=medi.nome_task%></p>
                    <%}%>
            </div>
        </div>
        
        <div class="coluna" id="alta">
            <div class="cabecaCol">
                <h2>Alta</h2>
            </div>

            <div class="corpoCol">
                <%for(alt of alta){%>
                    <p><%=alt.nome_task%></p>
                    <%}%>
            </div>
        </div>
  </div>
</body>
</html>