<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div id="total">
        <div id="sidebar">
            <div class="conteudo">
                <img src="/images/livro.png" id="livroHome" alt="Foto do livro" onclick="location.href = '/'">
                <img src="/images/mais.svg" alt="Mais" class="btnSide" id="openPopup">
                <img src="/images/sino.svg" alt="sino" class="btnSide">
                <img src="/images/config.svg" alt="configurações" class="btnSide">
            </div>
        </div>
    </div>
    <div id="linhaDest"></div>
    
    <div class="kanban">
        
        <div class="coluna" id="baixa">
                
            <div class="cabecaCol">
                    <h2>Baixa</h2>
            </div>

            <div class="corpoCol">
                
                <%for(baix of baixa){%>
                    <div class="task-card baixa-priority">
                        
                        <div class="task-content">
                            <h3><%=baix.nome_task%></h3>

                            <p></p>
                            <div class="task-actions">
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>

                    </div>
                <%}%>
                    
            </div>

        </div>
        
        
        <div class="coluna" id="media">
            <div class="cabecaCol">
                <h2>Média</h2>
            </div>

            <div class="corpoCol">

               <%for(medi of media){%>

                    <div class="task-card media-priority">

                        <div class="task-content">
                            <h3><%=medi.nome_task%></h3>
                            <div class="task-actions">

                                <i class="fas fa-ellipsis-v"></i>
                            </div>

                        </div>

                    </div>

                <%}%>

            </div>

        </div>
        
        <div class="coluna" id="alta">
            <div class="cabecaCol">
                <h2>Alta</h2>
            </div>

            <div class="corpoCol">
                <%for(alt of alta){%>
                    <div class="task-card alta-priority">

                        <div class="task-content">
                            <h3><%=alt.nome_task%></h3>
                            <div class="task-actions">

            
                                <i class="fas fa-ellipsis-v"></i>

                            </div>

                        </div>

                    </div>
                <%}%>
            </div>

        </div>
  </div>

<!--Popup de criar task-->
<div id="popupCriar" class="popup">
    <section>
        <button class="closePopup" id="closePopupCriar">×</button>
        <form action="/api/tasks" method="post">
            <div>
                <label for="nome_task">Nome da Tarefa</label>
                <input type="text" name="nome_task" required>
            </div>

            <div>
                <label for="descricao">Descrição</label>
                <textarea name="descricao" id="descricao" required></textarea>
            </div>

            <div>
                <label for="prioridade_id">Prioridade</label>
                <select name="prioridade_id" required>
                    <option value="1">Baixa</option>
                    <option value="2">Média</option>
                    <option value="3">Alta</option>
                </select>
            </div>

            <button type="submit" class="butPop">Criar Tarefa</button>
        </form>
    </section>
</div>

<!--Popup de especificações da task-->
<div id="popupEspec" class="popup">
    <section>
        <button class="closePopup" id="closePopupEspec">×</button>
        <div class="content">
            <h1>Nome da task</h1>
            <div class="description">
                <p>Descrição da task</p>
            </div>
            <div class="deadline">Prazo: xx/xx/xxxx</div>
            <button class="butPop">Finalizar</button>
        </div>
    </section>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="scripts/homeScript.js"></script>
</body>
</html>