<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina inicial</title>
    <link rel="stylesheet" href="/stylesheets/stylelogin.css">
    
</head>
<body>
    <div class="container">

        <div class="esquerda">
            <img src="images/livro.png" alt="Foto de livro" id="livro">
            <p id="inicio"><strong>Bem vindo ao nichotasks, seu assistente no gerenciamento das suas tarefas.</strong></p>
        </div>

        <div class="direita">
            <p><img src="/images/logosite2.png" alt="Logo do nichotasks" id="logologin"></p>
            
            <form action="/api/login" method="POST">

                <p><input type="email" name="email" placeholder="email" class="input"></p>
                
                <p><input type="password" name="senha" placeholder="senha" class="input"></p>
                
                <p><button type="submit" class="button">Entrar</button></p>
            
            </form>
            
            <p><button class="button" type="submit" id="criarConta">Criar conta</button></p>
            
            <p>Esqueceu sua senha?<a href="">Clique aqui</a></p>
        </div>
    
    </div>

    
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script> document.getElementById("criarConta").addEventListener("click", function () {
        window.location.href = "/criarConta";
    });
    </script>
</body>
</html>