#sidebar {
      width: 180px;
      background-color: #3182ce;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
      gap: 30px;
      height: 100vh
     
    }
    body{
    margin: 0;
    display: flex; /* Para colocar a sidebar ao lado do conteúdo */
    height: 100vh;  /* Importante para garantir 100% da altura */
    }
    #linhaDest{
        width: 6px;
        background-color: #174675;
    }